## Extract

In [1]:
import pandas as pd
import numpy as np
import requests
import json
import ast

In [2]:
# faz a leitura do arquivo json (todos os "clientes" cadastrados)
sdw_json = pd.read_json("https://sdw-2023-prd.up.railway.app/users")
sdw_json

,id,name,account,card,features,news
0,1,Devweekerson,"{'id': 1, 'number': '01.097954-4', 'agency': '...","{'id': 1, 'number': 'xxxx xxxx xxxx 1111', 'li...","[{'id': 2, 'icon': 'https://digitalinnovationo...","[{'id': 1, 'icon': 'https://digitalinnovationo..."
1,13,anguile,"{'id': 20, 'number': '00010-8', 'agency': '200...","{'id': 13, 'number': '**** **** **** 0112', 'l...","[{'id': 10, 'icon': 'string', 'description': '...","[{'id': 24, 'icon': 'string', 'description': '..."
2,14,Maria,"{'id': 21, 'number': '00110-2', 'agency': '200...","{'id': 14, 'number': '**** **** **** 0322', 'l...","[{'id': 11, 'icon': 'string', 'description': '...","[{'id': 25, 'icon': 'string', 'description': '..."
3,15,Pyterson,"{'id': 22, 'number': '0001-1', 'agency': '0001...","{'id': 15, 'number': '1234 1234 1234 1111', 'l...",[],"[{'id': 51, 'icon': 'https://digitalinnovation..."
4,17,Pep,"{'id': 24, 'number': '0003-3', 'agency': '0001...","{'id': 17, 'number': '1234 1234 1234 3333', 'l...",[],"[{'id': 258, 'icon': 'https://images.genius.co..."
...,...,...,...,...,...,...
722,833,Maria,"{'id': 874, 'number': '12311-3', 'agency': '00...","{'id': 808, 'number': '**** **** 3333 1233', '...",[],"[{'id': 2065, 'icon': 'https://digitalinnovati..."
723,834,Ésley Nathan,"{'id': 875, 'number': '1789455120', 'agency': ...","{'id': 809, 'number': '**** **** 3587 1111', '...","[{'id': 292, 'icon': 'string', 'description': ...","[{'id': 2059, 'icon': 'string', 'description':..."
724,835,Camila Pereira,"{'id': 876, 'number': '17889455120', 'agency':...","{'id': 810, 'number': '**** **** 3887 1111', '...","[{'id': 293, 'icon': 'string', 'description': ...","[{'id': 2060, 'icon': 'string', 'description':..."
725,836,Érika Dayse,"{'id': 877, 'number': '17829455120', 'agency':...","{'id': 811, 'number': '**** *8** 3887 1111', '...","[{'id': 294, 'icon': 'string', 'description': ...","[{'id': 2061, 'icon': 'string', 'description':..."
726,837,Da Silva,"{'id': 878, 'number': '45201-1', 'agency': '00...","{'id': 812, 'number': '**** **** 5521 4321', '...","[{'id': 295, 'icon': 'string', 'description': ...","[{'id': 2062, 'icon': 'string', 'description':..."

In [3]:
# converte o arquivo JSON em um arquivo CSV
sdw_json.to_csv("sdw_dio.csv", index=False)

In [4]:
# faz a leitura do arquivo CSV
df = pd.read_csv('sdw_dio.csv')
df.head()

,id,name,account,card,features,news
0,1,Devweekerson,"{'id': 1, 'number': '01.097954-4', 'agency': '...","{'id': 1, 'number': 'xxxx xxxx xxxx 1111', 'li...","[{'id': 2, 'icon': 'https://digitalinnovationo...","[{'id': 1, 'icon': 'https://digitalinnovationo..."
1,13,anguile,"{'id': 20, 'number': '00010-8', 'agency': '200...","{'id': 13, 'number': '**** **** **** 0112', 'l...","[{'id': 10, 'icon': 'string', 'description': '...","[{'id': 24, 'icon': 'string', 'description': '..."
2,14,Maria,"{'id': 21, 'number': '00110-2', 'agency': '200...","{'id': 14, 'number': '**** **** **** 0322', 'l...","[{'id': 11, 'icon': 'string', 'description': '...","[{'id': 25, 'icon': 'string', 'description': '..."
3,15,Pyterson,"{'id': 22, 'number': '0001-1', 'agency': '0001...","{'id': 15, 'number': '1234 1234 1234 1111', 'l...",[],"[{'id': 51, 'icon': 'https://digitalinnovation..."
4,17,Pep,"{'id': 24, 'number': '0003-3', 'agency': '0001...","{'id': 17, 'number': '1234 1234 1234 3333', 'l...",[],"[{'id': 258, 'icon': 'https://images.genius.co..."

In [5]:
# retorna as dimensões do df
df.shape

(727, 6)

In [6]:
# exibe os tipos de dados das colunas
df.dtypes

id           int64
name        object
account     object
card        object
features    object
news        object
dtype: object

## Transform
- Padronizar os dados para obter uma melhor compreensão das informações

In [8]:
# exibe os primeiros 3 valores da coluna 'account'
df['account'][0:3]

0    {'id': 1, 'number': '01.097954-4', 'agency': '...
1    {'id': 20, 'number': '00010-8', 'agency': '200...
2    {'id': 21, 'number': '00110-2', 'agency': '200...
Name: account, dtype: object

- Os dados de account podem ser divididos em várias colunas: "*id*", "*number*", "*agency*", "*balance*" e "*Limit"*

In [9]:
# converte os valores da coluna 'account' em dicionários
df['account'] = df['account'].apply(ast.literal_eval)

# criação de novas colunas usando os valores correspondentes dos dicionários na coluna 'account'
df['id'] = df['account'].apply(lambda x: x['id'])
df['number'] = df['account'].apply(lambda x: x['number'])
df['agency'] = df['account'].apply(lambda x: x['agency'])
df['balance'] = df['account'].apply(lambda x: x['balance'])
df['limit'] = df['account'].apply(lambda x: x['limit'])

# remove a coluna 'account'
df = df.drop('account', axis=1)

display(df)

,id,name,card,features,news,number,agency,balance,limit
0,1,Devweekerson,"{'id': 1, 'number': 'xxxx xxxx xxxx 1111', 'li...","[{'id': 2, 'icon': 'https://digitalinnovationo...","[{'id': 1, 'icon': 'https://digitalinnovationo...",01.097954-4,2030,624.12,1000.0
1,20,anguile,"{'id': 13, 'number': '**** **** **** 0112', 'l...","[{'id': 10, 'icon': 'string', 'description': '...","[{'id': 24, 'icon': 'string', 'description': '...",00010-8,2003,500.00,1000.0
2,21,Maria,"{'id': 14, 'number': '**** **** **** 0322', 'l...","[{'id': 11, 'icon': 'string', 'description': '...","[{'id': 25, 'icon': 'string', 'description': '...",00110-2,2003,500.00,1000.0
3,22,Pyterson,"{'id': 15, 'number': '1234 1234 1234 1111', 'l...",[],"[{'id': 51, 'icon': 'https://digitalinnovation...",0001-1,0001,0.00,500.0
4,24,Pep,"{'id': 17, 'number': '1234 1234 1234 3333', 'l...",[],"[{'id': 258, 'icon': 'https://images.genius.co...",0003-3,0001,0.00,500.0
...,...,...,...,...,...,...,...,...,...
722,874,Maria,"{'id': 808, 'number': '**** **** 3333 1233', '...",[],"[{'id': 2065, 'icon': 'https://digitalinnovati...",12311-3,0001,0.00,1000.0
723,875,Ésley Nathan,"{'id': 809, 'number': '**** **** 3587 1111', '...","[{'id': 292, 'icon': 'string', 'description': ...","[{'id': 2059, 'icon': 'string', 'description':...",1789455120,string,0.00,0.0
724,876,Camila Pereira,"{'id': 810, 'number': '**** **** 3887 1111', '...","[{'id': 293, 'icon': 'string', 'description': ...","[{'id': 2060, 'icon': 'string', 'description':...",17889455120,string,0.00,0.0
725,877,Érika Dayse,"{'id': 811, 'number': '**** *8** 3887 1111', '...","[{'id': 294, 'icon': 'string', 'description': ...","[{'id': 2061, 'icon': 'string', 'description':...",17829455120,string,0.00,0.0
726,878,Da Silva,"{'id': 812, 'number': '**** **** 5521 4321', '...","[{'id': 295, 'icon': 'string', 'description': ...","[{'id': 2062, 'icon': 'string', 'description':...",45201-1,0001,0.00,500.0

- Os dados de cartão estavam sem qualquer padão, deixando um pouco confuso o entendimento

In [10]:
# imprimi o primeiro item da coluna 'card'
df['card'][0]

"{'id': 1, 'number': 'xxxx xxxx xxxx 1111', 'limit': 2000.0}"

- Essas informações também podem ser separadas em colunas distintas: "*card_id*", "*card_number*" e "*card_limit*"

In [11]:
# Converte os valores da coluna 'card' em dicionários
df['card'] = df['card'].apply(ast.literal_eval)

# Cria novas colunas usando os valores correspondentes dos dicionários na coluna 'card'
df['card_id'] = df['card'].apply(lambda x: x['id'])
df['card_number'] = df['card'].apply(lambda x: x['number'])
df['card_limit'] = df['card'].apply(lambda x: x['limit'])

# Remove a coluna 'card'
df = df.drop('card', axis=1)

display(df)

,id,name,features,news,number,agency,balance,limit,card_id,card_number,card_limit
0,1,Devweekerson,"[{'id': 2, 'icon': 'https://digitalinnovationo...","[{'id': 1, 'icon': 'https://digitalinnovationo...",01.097954-4,2030,624.12,1000.0,1,xxxx xxxx xxxx 1111,2000.0
1,20,anguile,"[{'id': 10, 'icon': 'string', 'description': '...","[{'id': 24, 'icon': 'string', 'description': '...",00010-8,2003,500.00,1000.0,13,**** **** **** 0112,500.0
2,21,Maria,"[{'id': 11, 'icon': 'string', 'description': '...","[{'id': 25, 'icon': 'string', 'description': '...",00110-2,2003,500.00,1000.0,14,**** **** **** 0322,500.0
3,22,Pyterson,[],"[{'id': 51, 'icon': 'https://digitalinnovation...",0001-1,0001,0.00,500.0,15,1234 1234 1234 1111,1000.0
4,24,Pep,[],"[{'id': 258, 'icon': 'https://images.genius.co...",0003-3,0001,0.00,500.0,17,1234 1234 1234 3333,1000.0
...,...,...,...,...,...,...,...,...,...,...,...
722,874,Maria,[],"[{'id': 2065, 'icon': 'https://digitalinnovati...",12311-3,0001,0.00,1000.0,808,**** **** 3333 1233,1500.0
723,875,Ésley Nathan,"[{'id': 292, 'icon': 'string', 'description': ...","[{'id': 2059, 'icon': 'string', 'description':...",1789455120,string,0.00,0.0,809,**** **** 3587 1111,1000.0
724,876,Camila Pereira,"[{'id': 293, 'icon': 'string', 'description': ...","[{'id': 2060, 'icon': 'string', 'description':...",17889455120,string,0.00,0.0,810,**** **** 3887 1111,1000.0
725,877,Érika Dayse,"[{'id': 294, 'icon': 'string', 'description': ...","[{'id': 2061, 'icon': 'string', 'description':...",17829455120,string,0.00,0.0,811,**** *8** 3887 1111,1000.0
726,878,Da Silva,"[{'id': 295, 'icon': 'string', 'description': ...","[{'id': 2062, 'icon': 'string', 'description':...",45201-1,0001,0.00,500.0,812,**** **** 5521 4321,1000.0

In [12]:
# Classifica o DataFrame pelo valor da coluna 'id'
df = df.sort_values('id')

# Exibe o resultado final
display(df)

,id,name,features,news,number,agency,balance,limit,card_id,card_number,card_limit
0,1,Devweekerson,"[{'id': 2, 'icon': 'https://digitalinnovationo...","[{'id': 1, 'icon': 'https://digitalinnovationo...",01.097954-4,2030,624.12,1000.0,1,xxxx xxxx xxxx 1111,2000.0
1,20,anguile,"[{'id': 10, 'icon': 'string', 'description': '...","[{'id': 24, 'icon': 'string', 'description': '...",00010-8,2003,500.00,1000.0,13,**** **** **** 0112,500.0
2,21,Maria,"[{'id': 11, 'icon': 'string', 'description': '...","[{'id': 25, 'icon': 'string', 'description': '...",00110-2,2003,500.00,1000.0,14,**** **** **** 0322,500.0
3,22,Pyterson,[],"[{'id': 51, 'icon': 'https://digitalinnovation...",0001-1,0001,0.00,500.0,15,1234 1234 1234 1111,1000.0
4,24,Pep,[],"[{'id': 258, 'icon': 'https://images.genius.co...",0003-3,0001,0.00,500.0,17,1234 1234 1234 3333,1000.0
...,...,...,...,...,...,...,...,...,...,...,...
722,874,Maria,[],"[{'id': 2065, 'icon': 'https://digitalinnovati...",12311-3,0001,0.00,1000.0,808,**** **** 3333 1233,1500.0
723,875,Ésley Nathan,"[{'id': 292, 'icon': 'string', 'description': ...","[{'id': 2059, 'icon': 'string', 'description':...",1789455120,string,0.00,0.0,809,**** **** 3587 1111,1000.0
724,876,Camila Pereira,"[{'id': 293, 'icon': 'string', 'description': ...","[{'id': 2060, 'icon': 'string', 'description':...",17889455120,string,0.00,0.0,810,**** **** 3887 1111,1000.0
725,877,Érika Dayse,"[{'id': 294, 'icon': 'string', 'description': ...","[{'id': 2061, 'icon': 'string', 'description':...",17829455120,string,0.00,0.0,811,**** *8** 3887 1111,1000.0
726,878,Da Silva,"[{'id': 295, 'icon': 'string', 'description': ...","[{'id': 2062, 'icon': 'string', 'description':...",45201-1,0001,0.00,500.0,812,**** **** 5521 4321,1000.0

- Criação e padronização de dados das colunas "*number*", e "*digit*"

In [13]:
# divide a coluna 'number' em duas novas colunas 'number' e 'digit', usando o caractere '-' como separador
df[['number', 'digit']] = df['number'].str.split('-', expand=True)

# remove todos os caracteres não numéricos da coluna 'number'0
df['number'] = df['number'].str.replace(r'\D+', '', regex=True)

# substitui valores vazios na coluna 'number' por '1248'
df.loc[df['number'] == '', 'number'] = '1248'

# substitui valores nulos na coluna 'digit' por 0
df['digit'] = df['digit'].fillna(0)

- Remoção de dados estranhos nas colunas que seguem

In [14]:
# remove todos os caracteres não numéricos da coluna 'agency'
df['agency'] = df['agency'].str.replace(r'\D+', '', regex=True)

# substitui valores vazios na coluna 'agency' por '1010'
df.loc[df['agency'] == '', 'agency'] = '1010'

In [15]:
# padroniza a coluna 'card_number' com '**** **** **** ' + os quatro últimos dígitos
df['card_number'] = '**** **** **** ' + df['card_number'].str.extract(r'(\d{4})\D*$', expand=False)

# substitui valores nulos na coluna 'card_number' por 'Não Possui Cartão'
df.loc[df['card_number'].isnull(), 'card_number'] = 'Não Possui Cartão'

In [16]:
df.columns

Index(['id', 'name', 'features', 'news', 'number', 'agency', 'balance',
       'limit', 'card_id', 'card_number', 'card_limit', 'digit'],
      dtype='object')

In [17]:
# define a ordem das colunas
cols = ['id', 'name', 'number', 'digit', 'agency', 'balance', 'limit', 'card_id',
       'card_number', 'card_limit', 'news']

# reordena as colunas na ordem especificada pela lista `cols`
df = df[cols]

In [18]:
"""Define o valor da coluna 'card_limit' como 0 se o valor correspondente na coluna 'card_number'
for igual a 'Não Possui Cartão', caso contrário, mantém o valor original da coluna 'card_limit'"""

df['card_limit'] = df.apply(lambda x: 0 if x['card_number'] == 'Não Possui Cartão' else x['card_limit'], axis=1)

<ipython-input-18-41900380df86>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['card_limit'] = df.apply(lambda x: 0 if x['card_number'] == 'Não Possui Cartão' else x['card_limit'], axis=1)

In [19]:
# renomeia as colunas 'number' e 'digit' para 'account_number' e 'acc_digit', respectivamente
df = df.rename({'number':'account_number', 'digit':'acc_digit'}, axis='columns')
df

,id,name,account_number,acc_digit,agency,balance,limit,card_id,card_number,card_limit,news
0,1,Devweekerson,01097954,4,2030,624.12,1000.0,1,**** **** **** 1111,2000.0,"[{'id': 1, 'icon': 'https://digitalinnovationo..."
1,20,anguile,00010,8,2003,500.00,1000.0,13,**** **** **** 0112,500.0,"[{'id': 24, 'icon': 'string', 'description': '..."
2,21,Maria,00110,2,2003,500.00,1000.0,14,**** **** **** 0322,500.0,"[{'id': 25, 'icon': 'string', 'description': '..."
3,22,Pyterson,0001,1,0001,0.00,500.0,15,**** **** **** 1111,1000.0,"[{'id': 51, 'icon': 'https://digitalinnovation..."
4,24,Pep,0003,3,0001,0.00,500.0,17,**** **** **** 3333,1000.0,"[{'id': 258, 'icon': 'https://images.genius.co..."
...,...,...,...,...,...,...,...,...,...,...,...
722,874,Maria,12311,3,0001,0.00,1000.0,808,**** **** **** 1233,1500.0,"[{'id': 2065, 'icon': 'https://digitalinnovati..."
723,875,Ésley Nathan,1789455120,0,1010,0.00,0.0,809,**** **** **** 1111,1000.0,"[{'id': 2059, 'icon': 'string', 'description':..."
724,876,Camila Pereira,17889455120,0,1010,0.00,0.0,810,**** **** **** 1111,1000.0,"[{'id': 2060, 'icon': 'string', 'description':..."
725,877,Érika Dayse,17829455120,0,1010,0.00,0.0,811,**** **** **** 1111,1000.0,"[{'id': 2061, 'icon': 'string', 'description':..."
726,878,Da Silva,45201,1,0001,0.00,500.0,812,**** **** **** 4321,1000.0,"[{'id': 2062, 'icon': 'string', 'description':..."

In [20]:
df.shape

(727, 11)

In [21]:
df.dtypes

id                  int64
name               object
account_number     object
acc_digit          object
agency             object
balance           float64
limit             float64
card_id             int64
card_number        object
card_limit        float64
news               object
dtype: object

- Para alguns casos, os dados de *account_number*, *acc_digit*, e *agency* poderiam ser convertidos para dados numéricos.

In [22]:
# contagem das colunas nulas
df.isna().sum()

id                0
name              0
account_number    1
acc_digit         0
agency            0
balance           0
limit             0
card_id           0
card_number       0
card_limit        0
news              0
dtype: int64

In [23]:
# observação do valores nulos
df[df['account_number'].isna()]

,id,name,account_number,acc_digit,agency,balance,limit,card_id,card_number,card_limit,news
632,749,Alberto,None,0,0001,0.0,500.0,700,Não Possui Cartão,0.0,"[{'id': 1964, 'icon': 'string', 'description':..."

In [24]:
# substitui valor nulo encontrado
df.account_number.fillna('2323', inplace=True)

In [25]:
df.isna().sum()

id                0
name              0
account_number    0
acc_digit         0
agency            0
balance           0
limit             0
card_id           0
card_number       0
card_limit        0
news              0
dtype: int64

In [26]:
# remover a letra "W" da coluna "acc_digit"
df['acc_digit'] = df['acc_digit'].str.replace('W', '')
df.acc_digit.unique()

array(['4', '8', '2', '1', '3', '9', '07', '08', '09', '5', '6', nan,
       '9997', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19',
       '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30',
       '0', '7', '0001', '0002', '0005', '0006', '0008', '69', '70', '71',
       '112', '113', '04', '234', '237', '239', '03', '73', '01', '02',
       '63', '88', '100', '200', '300', '93', '78', '98', '76', '67',
       '87', '45', '36', '79', '65', '99', '00', '1234', '1235', '1236'],
      dtype=object)

In [27]:
display(df)

,id,name,account_number,acc_digit,agency,balance,limit,card_id,card_number,card_limit,news
0,1,Devweekerson,01097954,4,2030,624.12,1000.0,1,**** **** **** 1111,2000.0,"[{'id': 1, 'icon': 'https://digitalinnovationo..."
1,20,anguile,00010,8,2003,500.00,1000.0,13,**** **** **** 0112,500.0,"[{'id': 24, 'icon': 'string', 'description': '..."
2,21,Maria,00110,2,2003,500.00,1000.0,14,**** **** **** 0322,500.0,"[{'id': 25, 'icon': 'string', 'description': '..."
3,22,Pyterson,0001,1,0001,0.00,500.0,15,**** **** **** 1111,1000.0,"[{'id': 51, 'icon': 'https://digitalinnovation..."
4,24,Pep,0003,3,0001,0.00,500.0,17,**** **** **** 3333,1000.0,"[{'id': 258, 'icon': 'https://images.genius.co..."
...,...,...,...,...,...,...,...,...,...,...,...
722,874,Maria,12311,3,0001,0.00,1000.0,808,**** **** **** 1233,1500.0,"[{'id': 2065, 'icon': 'https://digitalinnovati..."
723,875,Ésley Nathan,1789455120,NaN,1010,0.00,0.0,809,**** **** **** 1111,1000.0,"[{'id': 2059, 'icon': 'string', 'description':..."
724,876,Camila Pereira,17889455120,NaN,1010,0.00,0.0,810,**** **** **** 1111,1000.0,"[{'id': 2060, 'icon': 'string', 'description':..."
725,877,Érika Dayse,17829455120,NaN,1010,0.00,0.0,811,**** **** **** 1111,1000.0,"[{'id': 2061, 'icon': 'string', 'description':..."
726,878,Da Silva,45201,1,0001,0.00,500.0,812,**** **** **** 4321,1000.0,"[{'id': 2062, 'icon': 'string', 'description':..."

### Teste
- Para limitar a 3 usuários por conta da limitação de 3 mensagens do chatGPT 3.5

In [29]:
# Filtrar linhas com balance >= 100000
df_filtered = df[df['balance'] >= 100000]
df_filtered
# Iterar sobre as linhas do DataFrame filtrado
for index, row in df_filtered.iterrows():
    # Obter o id, name e balance da linha atual
    id = row['id']
    name = row['name']
    balance = row['balance']

    # Enviar mensagem para o id atual
    print(f"Olá {name}, que tal pensar no seu futuro...")

Olá Elon Musk, que tal pensar no seu futuro...
Olá Zelda, que tal pensar no seu futuro...
Olá Silvia, que tal pensar no seu futuro...

### Gerar os ids filtrados e acessar o JSON com dados dos usuários

- Filtra clientes com balaço de conta igual ou superior a 100.000 para enviar mensagens personalizadas sobre investimentos

In [31]:
def extract_ids_and_names(df):
    # filtra linhas com balance >= 100000
    df_filtered = df[df['balance'] >= 100000]

    # extrai ids, nomes, saldos, e mensagens dos clientes
    ids = df_filtered['id'].tolist()
    names = df_filtered['name'].tolist()
    balance = df_filtered['balance']
    news = df_filtered['news'].tolist()

    # cria o dicionário de saída
    user = {'id': ids, 'name': names, 'balance': balance, 'news': news}

    return user


users = extract_ids_and_names(df)
users

{'id': [327, 486, 617],
 'name': ['Elon Musk', 'Zelda', 'Silvia'],
 'balance': 282    100000.00
 416    100000.00
 524    735600.35
 Name: balance, dtype: float64,
 'news': ["[{'id': 953, 'icon': 'string', 'description': 'string'}, {'id': 1262, 'icon': 'https://digitalinnovationone.github.io/santander-dev-week-2023-api/icons/credit.svg', 'description': 'Elon Musk, gostaria de enfatizar que o desenvolvimento contínuo de distintas formas de atuação assume importantes posições no estabelecimento do retorno esperado a longo prazo. '}]",
  "[{'id': 1513, 'icon': 'string', 'description': 'string'}, {'id': 1529, 'icon': 'https://digitalinnovationone.github.io/santander-dev-week-2023-api/icons/credit.svg', 'description': 'Invista hoje, realize seus sonhos amanhã. #InvestimentosSãoFundamentais'}, {'id': 1530, 'icon': 'https://digitalinnovationone.github.io/santander-dev-week-2023-api/icons/credit.svg', 'description': 'Invista hoje, colha amanhã. 🌱💰 #futuroseguro #investimentos #Zelda'}, {'id': 1549, 'icon': 'https://digitalinnovationone.github.io/santander-dev-week-2023-api/icons/credit.svg', 'description': 'Meu nome é Vinicius e gostaria de dizer a Zelda que comprar uma casa própria traz estabilidade, segurança e liberdade para construir seu lar do jeito que sempre sonhou.'}]",
  "[{'id': 1767, 'icon': 'https://github.com/digitalinnovationone/santander-dev-week-2023-api/blob/main/docs/icons/credit.svg', 'description': 'Viver de Renda! Sair de ferias pelo mundo! Curtir a familia com tranquilidade! o Santander tem o investimento certo para esses e os outros melhores momentos do seu futuro! Saiba mais!'}, {'id': 1768, 'icon': 'https://github.com/digitalinnovationone/santander-dev-week-2023-api/blob/main/docs/icons/credit.svg', 'description': 'Quem planta colhe e quem investe Commodities tambem. No Santander temos o investimento seu para garantir o seu futuro. Descubra os melhores investimentos para o seu perfil!'}, {'id': 1790, 'icon': 'https://digitalinnovationone.github.io/santander-dev-week-2023-api/icons/credit.svg', 'description': 'Invista hoje, Silvia! Assegure um futuro financeiro mais tranquilo e abundante.'}, {'id': 1791, 'icon': 'https://digitalinnovationone.github.io/santander-dev-week-2023-api/icons/credit.svg', 'description': 'Olá Silvia, sua segurança financeira é uma obra de arte. Pinte um futuro brilhante com investimentos.'}, {'id': 1792, 'icon': 'https://github.com/digitalinnovationone/santander-dev-week-2023-api/blob/main/docs/icons/credit.svg', 'description': 'Olá Silvia! Investir hoje é como plantar uma árvore para colher frutos amanhã. Vamos começar?'}, {'id': 1793, 'icon': 'https://github.com/digitalinnovationone/santander-dev-week-2023-api/blob/main/docs/icons/credit.svg', 'description': 'Silvia, imagine uma vida de tranquilidade financeira, férias e tempo com a familia. Invista já!'}, {'id': 1794, 'icon': 'https://github.com/digitalinnovationone/santander-dev-week-2023-api/blob/main/docs/icons/credit.svg', 'description': 'Silvia, transforme sonhos em realidade com Santander Investimentos. Seu dinheiro trabalhando, você curtindo!'}, {'id': 1861, 'icon': 'https://digitalinnovationone.github.io/santander-dev-week-2023-api/icons/credit.svg', 'description': 'Silvia, transforme o presente em futuro com o Santander. Invista e faça seu dinheiro render. É prático, seguro e rentável!'}]"]}

In [33]:
# Repositório da API: https://github.com/digitalinnovationone/santander-dev-week-2023-api
sdw2023_api_url = "https://sdw-2023-prd.up.railway.app"

In [34]:
# extrai os ids de interesse
user_ids = df_filtered['id'].tolist()
user_ids

[327, 486, 617]

In [35]:
def get_user(id):
  response = requests.get(f"{sdw2023_api_url}/users/{id}")
  return response.json() if response.status_code == 200 else None


users = [user for id in user_ids if (user := get_user(id)) is not None]
print(json.dumps(users, indent=2))

[
  {
    "id": 327,
    "name": "Luis",
    "account": {
      "id": 340,
      "number": "01237-1",
      "agency": "0001",
      "balance": 500.0,
      "limit": 1000.0
    },
    "card": {
      "id": 320,
      "number": "**** **** **** 5434",
      "limit": 5000.0
    },
    "features": [
      {
        "id": 108,
        "icon": "string",
        "description": "string"
      }
    ],
    "news": [
      {
        "id": 1276,
        "icon": "string",
        "description": "string"
      },
      {
        "id": 1287,
        "icon": "https://melhoresescolasmedicas.com/wp-content/uploads/2021/12/capa-materia-14_12.jpg",
        "description": null
      },
      {
        "id": 1291,
        "icon": "https://melhoresescolasmedicas.com/wp-content/uploads/2021/12/capa-materia-14_12.jpg",
        "description": null
      },
      {
        "id": 1307,
        "icon": "https://melhoresescolasmedicas.com/wp-content/uploads/2021/12/capa-materia-14_12.jpg",
        "description": null
      },
      {
        "id": 1310,
        "icon": "https://melhoresescolasmedicas.com/wp-content/uploads/2021/12/capa-materia-14_12.jpg",
        "description": null
      },
      {
        "id": 1335,
        "icon": "https://melhoresescolasmedicas.com/wp-content/uploads/2021/12/capa-materia-14_12.jpg",
        "description": null
      }
    ]
  },
  {
    "id": 486,
    "name": "Luca",
    "account": {
      "id": 496,
      "number": "00077-7",
      "agency": "0001",
      "balance": 0.0,
      "limit": 500.0
    },
    "card": {
      "id": 470,
      "number": "**** **** **** 9575",
      "limit": 1000.0
    },
    "features": [],
    "news": []
  },
  {
    "id": 617,
    "name": "Xuxa Meneghel",
    "account": {
      "id": 629,
      "number": "00023-93",
      "agency": "0001",
      "balance": 0.0,
      "limit": 500.0
    },
    "card": {
      "id": 591,
      "number": "**** **** **** 4747",
      "limit": 1000.0
    },
    "features": [],
    "news": []
  }
]

### Acessar a API do ChatGPT
- Acessar a API e enviar as mensagens personalizadas

In [36]:
import openai
from chave import SECRET

In [37]:
openai_api_key = SECRET

In [38]:
openai.api_key = openai_api_key

def generate_ai_news(user):
    completion = openai.ChatCompletion.create(
        model="gpt-3.5-turbo",
        messages=[
            {
                "role": "system",
                "content": "Você é um especialista em investimentos."
            },
            {
                "role": "user",
                "content": f"Crie uma mensagem para {user}, chame-o pelo nome, sobre o futuro e investimentos do Santander. (até 150 caracteres)"
            }
        ]
    )
    return completion.choices[0].message.content.strip('\"')


for user in users:
  news = generate_ai_news(user)
  print(news)
  user['news'].append({
      "icon": "https://digitalinnovationone.github.io/santander-dev-week-2023-api/icons/credit.svg",
      "description": news
  })

Olá, Luis! Que tal planejar seu futuro com os investimentos do Santander?
Olá, Luca! O futuro dos seus investimentos com o Santander é promissor. Conte com nossa expertise para alcançar seus objetivos financeiros.
Olá Xuxa Meneghel! No Santander, o futuro é promissor e os investimentos são uma ótima escolha para fazer seu dinheiro crescer.

## Load

In [39]:
# atualização dos usuários na API da SDW2023 com os dados enriquecidos
def update_user(user):
  response = requests.put(f"{sdw2023_api_url}/users/{user['id']}", json=user)
  return True if response.status_code == 200 else False

for user in users:
  success = update_user(user)
  print(f"User {user['name']} updated: {success}")

User Luis updated: True
User Luca updated: True
User Xuxa Meneghel updated: True

In [40]:
df_filtered

,id,name,account_number,acc_digit,agency,balance,limit,card_id,card_number,card_limit,news
282,327,Elon Musk,00001,9,0001,100000.00,50000.0,309,**** **** **** 4246,50000.0,"[{'id': 953, 'icon': 'string', 'description': ..."
416,486,Zelda,505050,1,0001,100000.00,0.0,460,**** **** **** 5599,1000000.0,"[{'id': 1513, 'icon': 'string', 'description':..."
524,617,Silvia,02510,9,0010,735600.35,100000.0,581,**** **** **** 1038,80100.0,"[{'id': 1767, 'icon': 'https://github.com/digi..."

In [41]:
# load do arquivo CSV final
df_filtered.to_csv("sdw_df_filtered.csv", index=False)

In [42]:
df.to_csv("df_final.csv", index=False)

Fim